<form ng-submit="formSubmit()">
   <div class="container">
      <div class="row">
         <div class="col-sm-6 mx-auto">
            <div class="card text-center">
               <div class="card-header">
                  <h3><strong>Logowanie</strong></h3>
               </div>
               <div class="card-body">
                  <div ng-if="errors.login" class="alert alert-danger">{{ errors.login }}</div>
                  <div class="form-group">
                     <label> Email: </label>
                     <input
                        type="email"
                        class="form-control"
                        ng-model="input.email"
                        placeholder="Twój adres e-mail"
                        required
                     />
                  </div>

                  <div class="form-group">
                     <label>Hasło</label>
                     <input
                        type="password"
                        class="form-control"
                        ng-model="input.password"
                        placeholder="Twoje hasło"
                        required
                     />
                  </div>
                  <br />
                  <button class="btn btn-primary btn-block">Zaloguj się</button>
               </div>
            </div>
         </div>
      </div>
   </div>
</form>
