<div class="container">
   <div class="row">
      <div class="col-sm-6">
         <input type="text" class="form-control" ng-model="search" placeholder="szukaj" />
      </div>
   </div>

   <br />

   <div class="row">
      <div class="col-sm-12">
         <div class="card mb-3" ng-repeat="product in products | filter : search">
            <div class="card-body">
               <h2>
                  <span class="badge badge-info badge-pill float-right"
                     >{{ product.price | number: 2 }} zł / kg
                  </span>
               </h2>
               <h2>
                  <a href="#!product/{{ $index }}">{{ product.name }}</a>
               </h2>
               <p>&nbsp;</p>
               <a href="#!product/{{ $index }}" class="btn btn-primary">Szczegóły</a>
               <button ng-click="addToCart( product )" class="btn btn-primary">
                  Dodaj do koszyka
               </button>
            </div>
         </div>
      </div>
   </div>
</div>
